.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.header:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__qgmjE {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__qgmjE > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: unset;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__qgmjE > :global(.__wab_flex-container) > *,
.freeBox__qgmjE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qgmjE > :global(.__wab_flex-container) > picture > img,
.freeBox__qgmjE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.recordItem__fzulx:global(.__wab_instance) {
  position: relative;
}
.freeBox__dWwF1 {
  position: relative;
  height: auto;
}
.start:global(.__wab_instance) {
  position: relative;
}
.freeBox___6MwHr {
  position: relative;
}
.recordItem__t8V:global(.__wab_instance) {
  position: relative;
}
.freeBox___0FNqV {
  position: relative;
  height: auto;
}
.end:global(.__wab_instance) {
  position: relative;
}
.recordItem__fgH5:global(.__wab_instance) {
  position: relative;
}
.freeBox__f4J5 {
  position: relative;
}
.biz:global(.__wab_instance) {
  position: relative;
  min-width: 200px;
}
.freeBox__pqmvv {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__owZb2 {
  height: auto;
  width: auto;
  display: inline-block;
}
.freeBox__vzRmu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  align-content: unset;
  overflow: auto;
}
.freeBox__gCaK {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 980px /* plasmic-token: ZFMqzfmUo */;
}
.freeBox__vryEm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 376px;
  height: 100%;
  align-self: center;
  min-height: 0;
  padding: 27px 0px;
}
.freeBox__vryEm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__vryEm > :global(.__wab_flex-container) > *,
.freeBox__vryEm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vryEm > :global(.__wab_flex-container) > picture > img,
.freeBox__vryEm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox__apAwA {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__apAwA > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: unset;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__apAwA > :global(.__wab_flex-container) > *,
.freeBox__apAwA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__apAwA > :global(.__wab_flex-container) > picture > img,
.freeBox__apAwA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.freeBox__oI100 {
  position: relative;
}
.totalDuration {
  position: relative;
  height: auto;
  color: #2b2c34 /* plasmic-token: gFZV8R6YM */;
  font-weight: 700;
}
.freeBox__y3MJe {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: unset;
}
.createNew:global(.__wab_instance) {
  position: relative;
  width: auto;
}
.exportCsv:global(.__wab_instance) {
  position: relative;
  width: auto;
}
