.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.header:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.container:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  min-width: 300px;
  flex-grow: 1;
}
.freeBox___3R5W5 {
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 300px;
  padding: 8px;
  margin: 0px;
}
.freeBox___3R5W5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___3R5W5 > :global(.__wab_flex-container) > *,
.freeBox___3R5W5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3R5W5 > :global(.__wab_flex-container) > picture > img,
.freeBox___3R5W5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__epnN0 {
  position: relative;
  height: auto;
}
.freeBox__lBosZ {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__lBosZ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 9px);
  height: calc(100% + 9px);
}
.freeBox__lBosZ > :global(.__wab_flex-container) > *,
.freeBox__lBosZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lBosZ > :global(.__wab_flex-container) > picture > img,
.freeBox__lBosZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 9px;
}
.bizList {
  display: flex;
  position: relative;
  flex-direction: column;
}
.bizList > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.bizList > :global(.__wab_flex-container) > *,
.bizList > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.bizList > :global(.__wab_flex-container) > picture > img,
.bizList
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.bizItem__cXsxG:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.bizItem__ockkh:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.bizItem__hePt1:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.addBiz:global(.__wab_instance) {
  position: relative;
}
.recordItem__b0EXk:global(.__wab_instance) {
  position: relative;
}
.freeBox___7IbCz {
  position: relative;
}
.freeBox__svdSp {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 0px;
}
.freeBox__svdSp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__svdSp > :global(.__wab_flex-container) > *,
.freeBox__svdSp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__svdSp > :global(.__wab_flex-container) > picture > img,
.freeBox__svdSp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.linkToGitHub:global(.__wab_instance) {
  position: relative;
}
.recordItem___5AzV5:global(.__wab_instance) {
  position: relative;
}
.freeBox___5Gzrx {
  position: relative;
  height: auto;
}
.name {
  position: relative;
  width: 100%;
  min-width: 0;
}
.recordItem__tc6AB:global(.__wab_instance) {
  position: relative;
}
.freeBox__iNcVp {
  position: relative;
  height: auto;
}
.freeBox__znbZg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 8px;
}
.recordItem___1Cl4F:global(.__wab_instance) {
  position: relative;
}
.freeBox__fuKyX {
  position: relative;
}
.zipcode {
  position: relative;
  width: 100%;
  min-width: 0;
}
.recordItem__ubXsy:global(.__wab_instance) {
  position: relative;
}
.freeBox__ruFa {
  position: relative;
}
.address {
  position: relative;
  width: 100%;
  min-width: 200px;
}
.recordItem__crxkR:global(.__wab_instance) {
  position: relative;
}
.freeBox__uYk {
  position: relative;
  height: auto;
}
.bank {
  position: relative;
  width: 100%;
  min-width: 200px;
}
.recordItem__wenbB:global(.__wab_instance) {
  position: relative;
}
.freeBox__ykzP {
  position: relative;
}
.signOut:global(.__wab_instance) {
  position: relative;
}
