.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--token-UuK4I_eTV);
  align-content: unset;
  position: relative;
  border-radius: 4px;
  padding: 16px;
}
.freeBox___7Jc2L {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  align-content: unset;
  flex-wrap: nowrap;
  margin: 12px;
}
.slotTargetStart {
  font-weight: 700;
  color: var(--token-gFZV8R6YM);
}
.text__hzet7 {
  position: relative;
  height: auto;
  margin-right: 4px;
  margin-left: 4px;
}
.slotTargetCurBiz {
  font-size: 20px;
  font-weight: 700;
  color: var(--token-gFZV8R6YM);
}
.text__cxJMq {
  position: relative;
  height: auto;
  margin-right: 4px;
  margin-left: 4px;
}
.freeBox__jkZnv {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__jkZnv > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__jkZnv > :global(.__wab_flex-container) > *,
.freeBox__jkZnv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jkZnv > :global(.__wab_flex-container) > picture > img,
.freeBox__jkZnv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.text__mzU5R {
  position: relative;
}
.duration {
  position: relative;
  height: auto;
  color: var(--token-gFZV8R6YM);
  font-weight: 700;
}
.time:global(.__wab_instance) {
  position: relative;
}
.recordItem:global(.__wab_instance) {
  position: relative;
}
.text__kpTfq {
  position: relative;
}
.report {
  position: relative;
  background: var(--token-NyEsQChCc);
  width: 240px;
  height: 120px;
  border-radius: 4px;
  margin: 4px;
}
.freeBox__lcBi {
  flex-direction: column;
  display: flex;
  position: relative;
  min-width: 200px;
  padding: 8px;
}
.freeBox__lcBi > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__lcBi > :global(.__wab_flex-container) > *,
.freeBox__lcBi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lcBi > :global(.__wab_flex-container) > picture > img,
.freeBox__lcBi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.out:global(.__wab_instance) {
  position: relative;
}
.text__oLOgd {
  height: auto;
}
.cancel:global(.__wab_instance) {
  position: relative;
  display: flex;
}
.text___0Ux8V {
  height: auto;
}
