.root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
}
.freeBox__nwg {
  display: flex;
  flex-direction: row;
}
.slotTargetHourtype_large {
  color: var(--token-okz0e5Hvl);
  font-size: 48px;
  font-family: "Lato", sans-serif;
}
.slotTargetHourtype_inHeader {
  font-family: "Nunito Sans", sans-serif;
  color: var(--token-Je54hxL4x);
}
.text {
  width: auto;
}
.texttype_large {
  color: var(--token-okz0e5Hvl);
  font-size: 48px;
  font-family: "Lato", sans-serif;
}
.texttype_inHeader {
  font-family: "Nunito Sans", sans-serif;
  color: var(--token-Je54hxL4x);
}
.freeBox__zLyZd {
  width: auto;
  display: flex;
  flex-direction: row;
}
.slotTargetMintype_large {
  color: var(--token-okz0e5Hvl);
  font-size: 48px;
  font-family: "Lato", sans-serif;
}
.slotTargetMintype_inHeader {
  font-family: "Nunito Sans", sans-serif;
  color: var(--token-Je54hxL4x);
}
