.root {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
}
.slotTargetLabel {
  font-weight: 700;
}
.text__quMq2 {
  position: relative;
  display: none;
}
.textorder_asc__quMq2YnG0D {
  display: none;
}
.textorder_desc__quMq2Tx5M3 {
  display: block;
}
.text__wsWy2 {
  position: relative;
  display: none;
}
.textorder_asc__wsWy2YnG0D {
  display: block;
}
.textorder_desc__wsWy2Tx5M3 {
  display: none;
}
