.root {
  flex-direction: row;
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 6px;
}
.freeBox___3K9Gh {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: var(--token-NyEsQChCc);
  align-content: unset;
}
.year {
  background: var(--token-NyEsQChCc);
  width: 60px;
  color: var(--token-ZJfqmpfUm);
  font-size: 20px;
  position: relative;
  text-align: left;
  flex-shrink: 0;
  border-width: 1px;
  border-style: none;
}
.text__kdNt0 {
  background: var(--token-NyEsQChCc);
  width: 10px;
  color: var(--token-ZJfqmpfUm);
  font-size: 20px;
  position: relative;
  align-self: auto;
  text-align: center;
  flex-shrink: 0;
  border-width: 1px;
  border-style: none;
}
.month {
  background: var(--token-NyEsQChCc);
  width: 32px;
  color: var(--token-ZJfqmpfUm);
  font-size: 20px;
  position: relative;
  text-align: left;
  flex-shrink: 0;
  border-width: 1px;
  border-style: none;
}
.text__uaMt8 {
  background: var(--token-NyEsQChCc);
  width: 10px;
  color: var(--token-ZJfqmpfUm);
  font-size: 20px;
  position: relative;
  align-self: auto;
  text-align: center;
  flex-shrink: 0;
  border-width: 1px;
  border-style: none;
}
.day {
  background: var(--token-NyEsQChCc);
  width: 32px;
  color: var(--token-ZJfqmpfUm);
  font-size: 20px;
  position: relative;
  text-align: left;
  flex-shrink: 0;
  border-width: 1px;
  border-style: none;
}
.freeBox__gIiYa {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: var(--token-NyEsQChCc);
  align-content: unset;
}
.hour {
  background: var(--token-NyEsQChCc);
  width: 32px;
  color: var(--token-ZJfqmpfUm);
  font-size: 20px;
  position: relative;
  text-align: right;
  flex-shrink: 0;
  border-width: 1px;
  border-style: none;
}
.text__kYgnz {
  background: var(--token-NyEsQChCc);
  width: 10px;
  color: var(--token-ZJfqmpfUm);
  font-size: 20px;
  position: relative;
  align-self: auto;
  text-align: center;
  flex-shrink: 0;
  border-width: 1px;
  border-style: none;
}
.minute {
  background: var(--token-NyEsQChCc);
  width: 32px;
  color: var(--token-ZJfqmpfUm);
  font-size: 20px;
  position: relative;
  text-align: left;
  flex-shrink: 0;
  border-width: 1px;
  border-style: none;
}
