.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  padding: 4px;
}
.freeBox__ovUiv {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__ovUiv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__ovUiv > :global(.__wab_flex-container) > *,
.freeBox__ovUiv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ovUiv > :global(.__wab_flex-container) > picture > img,
.freeBox__ovUiv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.now {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 100%;
  min-height: 0;
}
.now > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: unset;
  min-height: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.now > :global(.__wab_flex-container) > *,
.now > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.now > :global(.__wab_flex-container) > picture > img,
.now > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
.radio__fQFz6:global(.__wab_instance) {
  position: relative;
  margin-top: 6px;
  margin-right: 0px;
  margin-bottom: 6px;
  margin-left: calc(0px + 16px) !important;
}
.radiotype_now__fQFz6MEudU:global(.__wab_instance) {
  margin-left: calc(0px + 16px) !important;
}
.button__f6Ukz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.custom {
  display: flex;
  position: relative;
  flex-direction: row;
}
.custom > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: unset;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.custom > :global(.__wab_flex-container) > *,
.custom > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.custom > :global(.__wab_flex-container) > picture > img,
.custom
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.radio___6Hrv7:global(.__wab_instance) {
  position: relative;
  margin-top: 6px;
  margin-bottom: 6px;
}
.freeBox__qxmWq {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__qxmWq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 7px);
  height: calc(100% + 7px);
}
.freeBox__qxmWq > :global(.__wab_flex-container) > *,
.freeBox__qxmWq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qxmWq > :global(.__wab_flex-container) > picture > img,
.freeBox__qxmWq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 7px;
}
.button__ogIwm:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text {
  height: auto;
}
.customTime:global(.__wab_instance) {
  position: relative;
}
