.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.header:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.container:global(.__wab_instance) {
  position: relative;
}
.freeBox__b1Dbx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox___41Rlx {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 16px;
}
.recordItem__gr8Yh:global(.__wab_instance) {
  position: relative;
}
.freeBox__pspW {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.bizSelect:global(.__wab_instance) {
  position: relative;
}
.recordItem__fjcOq:global(.__wab_instance) {
  position: relative;
}
.start:global(.__wab_instance) {
  position: relative;
}
.startloading:global(.__wab_instance) {
  display: none;
}
.skeleton__kocnA:global(.__wab_instance) {
  position: relative;
}
.recordItem__utEYg:global(.__wab_instance) {
  position: relative;
}
.text__yNtqY {
  position: relative;
}
.end:global(.__wab_instance) {
  position: relative;
}
.endloading:global(.__wab_instance) {
  display: none;
}
.skeleton__qmHiR:global(.__wab_instance) {
  position: relative;
}
.recordItem__v0MwY:global(.__wab_instance) {
  position: relative;
}
.text__yD5Sl {
  position: relative;
  height: auto;
}
.slotTargetDuration {
  font-size: 24px;
}
.skeleton__kwGu:global(.__wab_instance) {
  position: relative;
}
.recordItem__ibrZ0:global(.__wab_instance) {
  position: relative;
}
.text__fFiLl {
  position: relative;
  height: auto;
}
.report {
  position: relative;
  width: 100%;
  min-height: 120px;
  min-width: 0;
}
.reportloading {
  display: none;
}
.skeleton__uxCq:global(.__wab_instance) {
  position: relative;
}
.freeBox__wpDgh {
  flex-direction: column;
  display: flex;
  position: relative;
  padding: 16px;
}
.freeBox__wpDgh > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: unset;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__wpDgh > :global(.__wab_flex-container) > *,
.freeBox__wpDgh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wpDgh > :global(.__wab_flex-container) > picture > img,
.freeBox__wpDgh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.save:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.deleteLog:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.back:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
