.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: unset;
}
.freeBox__tuQtm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #fffffe;
  align-content: unset;
}
.hour {
  background: #fffffe;
  width: 60px;
  color: #2b2c34 /* plasmic-token: ZJfqmpfUm */;
  font-size: 26px;
  position: relative;
  text-align: right;
  flex-shrink: 0;
  border-width: 1px;
  border-style: none;
}
.freeBox___1ZcV {
  background: #fffffe;
  width: 10px;
  color: #2b2c34 /* plasmic-token: ZJfqmpfUm */;
  font-size: 26px;
  position: relative;
  align-self: auto;
  text-align: center;
  flex-shrink: 0;
  border-width: 1px;
  border-style: none;
}
.minute {
  background: #fffffe;
  width: 60px;
  color: #2b2c34 /* plasmic-token: ZJfqmpfUm */;
  font-size: 26px;
  position: relative;
  text-align: left;
  flex-shrink: 0;
  border-width: 1px;
  border-style: none;
}
.dayAgoCheckbox {
  display: flex;
  position: relative;
  flex-direction: row;
  background: #fffffe1a;
  border-radius: 4px;
  padding: 4px;
  margin: 4px;
}
.dayAgoCheckbox > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: unset;
  margin-left: calc(0px - 3px);
  width: calc(100% + 3px);
}
.dayAgoCheckbox > :global(.__wab_flex-container) > *,
.dayAgoCheckbox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.dayAgoCheckbox > :global(.__wab_flex-container) > picture > img,
.dayAgoCheckbox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 3px;
}
.checkbox:global(.__wab_instance) {
  position: relative;
}
.freeBox__x3F9S {
  position: relative;
  color: #2b2c34 /* plasmic-token: okz0e5Hvl */;
}
