.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #6246ea;
  height: 64px;
  width: 100%;
  align-content: unset;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.left {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  flex-shrink: 0;
  align-content: unset;
  min-height: 0;
}
.headerButton__xQogy:global(.__wab_instance) {
  position: relative;
}
.right {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: unset;
  align-self: auto;
  height: 100%;
  flex-shrink: 0;
  min-height: 0;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  padding-right: 40px;
  padding-left: 40px;
}
.headerButton___5LMdS:global(.__wab_instance) {
  position: relative;
}
