.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: var(--token-zzL4-6AjI);
  height: 64px;
  width: 100%;
  align-content: unset;
  position: relative;
  min-width: 0;
  padding: 4px;
}
.left {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  flex-shrink: 0;
  align-content: unset;
  min-height: 0;
}
.headerButton__xQogy:global(.__wab_instance) {
  position: relative;
}
.text {
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: -0.08em;
  font-weight: 500;
  font-size: 1.7rem;
}
.right {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: unset;
  align-self: auto;
  height: 100%;
  flex-shrink: 0;
  min-height: 0;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  padding-right: 40px;
  padding-left: 40px;
}
.headerButton__nLq9E:global(.__wab_instance) {
  position: relative;
}
.headerButton___5LMdS:global(.__wab_instance) {
  position: relative;
}
