.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: var(--token-Qmv6O_gsE);
  position: relative;
  align-content: unset;
  transition-property: all;
  transition-duration: 200ms;
  transform: none;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-duration: 200ms;
  border-radius: 4px;
  padding: 10px;
  border-width: 1px;
  border-style: none;
}
.roottype_secondary {
  background: var(--token-tW_fDLDwj);
}
.roottype_text {
  background: none;
}
.root:hover {
  background: linear-gradient(var(--token-oJ5ckTeVO), var(--token-oJ5ckTeVO)),
    var(--token-Qmv6O_gsE);
}
.roottype_primary:hover {
  background: linear-gradient(var(--token-oJ5ckTeVO), var(--token-oJ5ckTeVO)),
    var(--token-Qmv6O_gsE);
}
.roottype_secondary:hover {
  background: linear-gradient(var(--token-oJ5ckTeVO), var(--token-oJ5ckTeVO)),
    var(--token-tW_fDLDwj);
}
.roottype_text:hover {
  background: var(--token-oJ5ckTeVO);
}
.root:active {
  background: linear-gradient(var(--token-vaqn_vLIL), var(--token-vaqn_vLIL)),
    var(--token-Qmv6O_gsE);
}
.roottype_primary:active {
  background: linear-gradient(var(--token-vaqn_vLIL), var(--token-vaqn_vLIL)),
    var(--token-Qmv6O_gsE);
}
.roottype_secondary:active {
  background: linear-gradient(var(--token-vaqn_vLIL), var(--token-vaqn_vLIL)),
    var(--token-tW_fDLDwj);
}
.roottype_text:active {
  background: var(--token-vaqn_vLIL);
}
.slotTargetChildren {
  color: var(--token-NyEsQChCc);
}
.slotTargetChildrentype_text {
  color: var(--token-Qmv6O_gsE);
}
