.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.tableRow:global(.__wab_instance) {
  position: relative;
}
.freeBox__tthFp {
  font-weight: 700;
}
.freeBox__mmPNt {
  font-weight: 700;
}
.freeBox__q8AAx {
  position: relative;
  font-weight: 700;
}
.freeBox__c0Dcw {
  height: auto;
  font-weight: 700;
}
