div.animatedSkeleton[class^="plasmic"] {
  animation: animateBg 1s linear infinite;
  background-image: linear-gradient(
    90deg,
    #efefef 45%,
    #c0c0c0 50%,
    #efefef 55%
  );
  background-size: 800% 100%;
}
@keyframes animateBg {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
